@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary: #1a1a1a;
  --background: #ffffff;
  --text-color: #667085;
  --purple: #6941c6;
  --tag-background: #eef4ff;
  --tag-name: #3538cd;
  --purple-white: #f9f5ff;
  --inputs-back: #f4f4f5;
  --green: #027a48;
  --light-green: #ecfdf3;
  --tablet: 1024px;
  --about: #f6f6f7;
  --socials-bacK: #e2e6ec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-inter);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.row-gap {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
