.list {
  display: flex;
  gap: 20px;
}

.item {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease;
}

.item.active {
  color: var(--purple);
}

.item.active::after {
  width: 100%;
}

.item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: var(--purple);
  transition: width 0.3s ease;
}

.item:hover::after {
  width: 100%;
}
.item:hover {
  color: var(--purple);
}

.burger {
  display: none;
  background: none;
  font-size: 28px;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  z-index: 1000;
}

.open {
  transform: translateX(0);
}

.close {
  background: none;
  border: none;
  font-size: 28px;
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 16px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.link {
  text-decoration: none;
  font-size: 20px;
  color: #333;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .list {
    display: none;
  }
}
